resources/
results/*.fast*
results/*.bam*
results/*.gff*
results/*.txt
results/classify_1/
results/classify_2/
results/classify_3/
results/classify_4/
results/*.json
logs/
troubleshooting/
outputs/
mapping_stats.report.json
pbmm2.log
workflow/.snakemake/
.Rproj.user
